body {
  background-image:url('img/desktop/seattle.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 50px 10px;
}

.container {
  display: flex;
  column-gap: 10%;
  margin: auto;
  height: 90vh;
}

.left-panel {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow-y: scroll;
}

.right-panel {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow-y: scroll;
}

.about-me {
  text-align: center;
  position: relative;
  flex-direction: column;
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.9);
}

.post {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.9);
}

.projects {
  width: 100%;
  height: 100%;
}

.profile-pic {
  margin: 10px;
  max-height: 150px;
  min-height: 150px;
}

h1 {
  font-size: 14px;
}

p {
  text-align: left;
}

footer {
  position: fixed;
  bottom: 0;
  color: white;
}
