body {
  background-image:url('img/desktop/seattle.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 50px 10px;
}

.container {
  display: flex;
  column-gap: 10%;
  margin: auto;
  height: 90vh;
}

.blog {
  width: 30%;
}

.right-panel {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.post {
  text-align: center;
  position: relative;
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.5);
}

.technical, .creative {
  height: 40%;
}

h1 {
  font-size: 14px;
}

p {
  text-align: left;
}

footer {
  position: fixed;
  bottom: 0;
  color: white;
}