p {
    font-size: 14px;
    font-family: sans-serif;
    color: #314426;
    width: 500px;
    border: 1px #40623e;
}

li{
    font-family: sans-serif;
    background-color: #f3e1e0;
    border: 1px #d58991;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.header {
    margin: 0;
    font-size: 18px;
    padding: 15px;  
    /* add unique and descriptive class name later: .unbounded-<uniquifier> { */
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    /* weight from 200-900 */
    font-weight: 500;
    font-style: normal;
    text-align: center;
    text-shadow: 1px 1px 2px #808080;
}

.main-text {
    display: block;
    margin: 0 auto;
    max-width: 60%;
    bottom: 0%;
    position: absolute;
}

/* need to figure out if I can get styling to apply to all cycling images
   and use .bug. I can only get it to work right now by applying it to 
   all images */
img {
    display: block;
    margin: auto;
    max-width: 350px;
}

.done {
    background-color: darkolivegreen;
    color: maroon;
    text-decoration: line-through solid salmon 2px;
}

.window {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 100px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 1;
}

.title-bar {
  background: #40623e;
  color: white;
  padding: 5px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-content {
  padding: 5px;
}
