h1 {
  font-size: 18px;  
/* add unique and descriptive class name later: .unbounded-<uniquifier> { */
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  /* weight from 200-900 */
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

p {
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(105, 139, 84);
    width: 500px;
    border: 1px rgb(64, 98, 62);
}

li{
    font-family: sans-serif;
    background-color: rgb(243, 225, 224);
    border: 1px rgb(191, 11, 124);
    margin-bottom: 5px;
    letter-spacing: 1px;
}