html, body {
    background-color: #b4b4b4;
    max-width: 100vw;
    max-height: 100vh;
}

body {
    background: url("../img/desktop/boat.jpg") fixed no-repeat cover;
}

p {
    font-size: 14px;
    font-family: sans-serif;
    color: #314426;
    width: 500px;
    border: 1px #40623e;
}

li{
    font-family: sans-serif;
    background-color: #f3e1e0;
    border: 1px #d58991;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.header {
    margin: 0;
    font-size: 18px;
    padding: 15px;  
    /* add unique and descriptive class name later: .unbounded-<uniquifier> { */
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    /* weight from 200-900 */
    font-weight: 500;
    font-style: normal;
    text-align: center;
    text-shadow: 1px 1px 2px #808080;
}

.main-text {
    display: block;
    margin: 0 auto;
    max-width: 60%;
    bottom: 0%;
    position: absolute;
}

/* need to figure out if I can get styling to apply to all cycling images
   and use .bug. I can only get it to work right now by applying it to 
   all images */
img {
    display: block;
    margin: auto;
    max-width: 350px;
}

.done {
    background-color: darkolivegreen;
    color: maroon;
    text-decoration: line-through solid salmon 2px;
}